
*{
    box-sizing: border-box;
}


.box{
    font-family: 'Georgia', Times, "Times New Roman", serif;
}

/*
Banner
*/
header{
    position: fixed;
    background-color: white;
    color: darkgray;
    text-align: center;
    height: 100px;
    margin-bottom: 0px;
    top: 0;
    border-bottom: 2px solid gray;
    width: 100%;
    z-index: 4;
}


/*
div 1 for Hang man and RPG Game
*/
.portfolio-img {
    text-align: center;
    float: left;
    width: 33%;
    margin-left: 0px;
    margin-right: 20px;
    margin-bottom: 10px;
}

/*
div 2 for trivia and rps game
*/
.portfolio-img2 {
    width: 40%;
    text-align: center;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
}

.portfolio-img img{
    margin-top: 10px;
    width: 200px;
}

.portfolio-img2 img{
    margin-top: 10px;
    width: 200px;
}

.portfolio-img p{
    position: relative;
}
.portfolio-img2 p{
    position: relative;
    margin-left: 20px;
}

/*
Page Title
*/
.blue{
    background-color: #4aaaa5;
    font-size: 2em;
    height: 100px;
    margin-left: 10%;
    margin-bottom: 0px;
    padding: 30px;
    width: 40%;
    color: white;
    float: left;
}

/*
About, Portfolio and Contact move to right
*/
#About, #Portfolio, #Contact {
    float: right;
    padding-top: 40px;
    padding-bottom: 0px;
    width: 8%;
}

/*
Contact Portfolio and About at the right align
*/
#toRight{
    text-align: center;
    margin-right: 10%;
}

/*
Clean
*/
.services:after {
    content: "";
    display: block;
    clear: both;
}

/*
About Me Title
*/
#backg h2 {
    
    color: #4aaaa5;
    padding-bottom: 10px;
    width: 80%;
    position: absolute;
    top: 15px;
    text-align: left;
    border-bottom: 2px solid lightgray;
}


/*
Profile Picture
*/
#backg p > img {
    float: left;
    margin-right: 15px;
    width: 10px;
    height: 95px;

}


/*
Body
*/
#backg p{
    border: 2px solid gray;
    width: 200px;
    font-size: 2em;
    color: gray;
    bottom: 125px;
    background-color: white;
}

/*
Background body Box
*/
#backg2
{
    position: absolute;
    background-color: white;
    width: 80%;
    height: 80%;
    top: 108px;
    right: 10%;
    left: 10%;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 7px;
    margin-bottom: 0px;
    padding: 100px;
    z-index: 3;

}


/*
Background Image
*/
#backg > img {
    position: fixed;
    margin-top: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.littleRectangle {
    border-bottom: 8px solid #4aaaa5;
}


#footer {
    bottom: 0;
    position: fixed;
    font-size: .8em;
    height: 40px;
    color: white;
    background-color: gray;
    text-align: center;
    float: left;
    width: 100%;
    z-index: 3;
}

#footer > p{

    padding-top: 10px;
    text-align: center;
}